<p><a href="/movies">Go back</a></p>
<img src="{{movieDetails.image}}" alt="{{movieDetails.title}}">
<h2>{{movieDetails.title}}</h2>
<p>Directed by: {{movieDetails.director}}</p>
<p>Stars: {{movieDetails.stars}}</p>
<p>Description: {{movieDetails.description}}</p>
<p>Show Times: {{movieDetails.showtimes}}</p>

